@import "../../styles/variables.less";
@import "../../styles/grid-flex.less";

.ProductDetail {
  .grid;

  .img-wrapper {
    padding-right: 10px;
    position: relative;
    .grid-cell;
    .grid-fixed;
  }

  .img {
    width: 60px;
    height: 60px;
    .border-radius;
  }

  .quantity {
    -webkit-appearance:none;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    text-align: center;
    margin-top: 5px;
    padding: 0px 15px;
    font-size: 16px;
    width: 50px;
    height: 25px;
    border-radius: 3px;
  }

  .option {
    text-align: center;
    vertical-align: middle;
  }

  .caret {
    color: #333;
    position: absolute;
    margin: 17px 0 0 30px;
  }

  .product-quantity {
    margin: 0 4px;
  }

  .glyphicon-remove { color: #b12416; }

  .info { .grid-cell; }

  .name,
  .price {
    font-size: @DefaultFontSize;
    line-height: @DefaultLineHeight;
    .discount {
      text-decoration: line-through;
      color: #888;
      font-weight: 500;
    }
  }

  .currency { color: #888; }

  .name { margin-bottom: 5px; }

  .remove {
    padding-left: 25px;
    margin-top: 10px;
  }

  .actions{
    display: inline-flex;
  }
}

a:active, a:focus {
    text-decoration: none;
}

/* iPad */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {

  .ProductDetail {
    .img-wrapper { margin-left: 10px; }
    .img {
      height: 100px;
      width: 100px;
    }
    .name,
    .total-price {
      font-size: 1em;
      line-height: @DefaultLineHeight;
    }
    .remove { margin-right: 10px; }
  }
}
