@import "../../styles/variables.less";
@import "../../styles/grid-flex.less";

.ProductDetail {
  .grid;

  .img-wrapper {
    padding-right: 10px;
    position: relative;
    .grid-cell;
    .grid-fixed;
  }

  .img {
    width: 60px;
    height: 60px;
    .border-radius;
  }

  .quantity {
    background-color: @GreatBlue;
    color: @LightGrey;
    padding: 2px 10px;
    position: absolute;
    left: 0;
    .border-radius(15px);
  }

  .info { .grid-cell; }

  .name,
  .price {
    font-size: @DefaultFontSize;
    line-height: @DefaultLineHeight;
  }
  .name { margin-bottom: 5px; }

  .glyphicon-remove { color: #b12416; }
}

/* iPad */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {

  .ProductDetail {
    .img-wrapper { margin-left: 10px; }
    .img {
      height: 100px;
      width: 100px;
    }
    .name,
    .total-price {
      font-size: 1em;
      line-height: @DefaultLineHeight;
    }
    .remove { margin-right: 10px; }
  }
}
