@import "../../styles/variables.less";
@import "../../styles/grid-flex.less";

.ProductDetail {
  .grid;

  .img-wrapper {
    padding-right: 10px;
    position: relative;
    .grid-cell;
    .grid-fixed;
  }

  .img {
    width: 60px;
    height: 60px;
    .border-radius;
  }

  .quantity {
    -webkit-appearance:none;
    background-color: @GreatBlue;
    color: @LightGrey;
    text-align: center;
    margin-top: 5px;
    padding: 0px 15px;
    font-size: 16px;
    width: 50px;
    height: 25px;
    border-radius: 3px;
    border: none;
  }

  .option {
    text-align: center;
    vertical-align: middle;
  }

  .caret {
    color: white;
    position: absolute;
    margin: 17px 0 0 30px;
  }

  .product-quantity {
    margin: 0 4px;
  }

  .remove { margin-right: 10px; }

  .glyphicon-remove { color: #b12416; }

  .menu {
    display:block;
    position: absolute;
    right: 30px;
    top: 90px;
    left: auto;
    z-index: 2;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

  .list {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

  .info { .grid-cell; }

  .name,
  .price {
    font-size: @DefaultFontSize;
    line-height: @DefaultLineHeight;
    .discount {
      text-decoration: line-through;
      color: #888;
      font-weight: 500;
    }
  }

  .currency { color: #888; }

  .name { margin-bottom: 5px; }

  .dropdown {
    padding: 2px 7px 1px 7px;
    margin-bottom: 5px;
    font-size: 12px;
    .grid-cell;
    .grid-fixed;
  }
}

a:active, a:focus {
    text-decoration: none;
}

/* iPad */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {

  .ProductDetail {
    .img-wrapper { margin-left: 10px; }
    .img {
      height: 100px;
      width: 100px;
    }
    .name,
    .total-price {
      font-size: 1em;
      line-height: @DefaultLineHeight;
    }
    .remove { margin-right: 10px; }
  }
}
